In [126]:
from __future__ import division
import pandas as pd
import numpy as np
import sklearn as sk

data = pd.read_csv('StudentLoanSimulatedData.csv')

# vars[0] is % of ParentsIncome dedicated to all of their children's educations
# vars[1] is # of hours worked by student per year
# vars[2] is education baseline (must be > 0)
# vars[3] is impact of grades on scholarship
# vars[4] is the negative impact of ParentsIncome on scholarship eligibility
vars = np.array([.15, 2000, 1, .25, .1])
N = 1000

def studentLoanData(vars,N):

    randMat = np.array(np.random.uniform(0,1,[N,20]))
    ParentsIncome = randMat[:,0]*100000
    NumberOfSiblings = np.floor(randMat[:,1]*10)
    ParentsPortion = np.divide(ParentsIncome*vars[0],1+NumberOfSiblings)

    WorkExperience = np.floor(randMat[:,2]*8)
    Education = np.floor(randMat[:,3]*2)
    Skills = np.floor(randMat[:,4]*4)
    MinimumWage = np.floor(randMat[:,5]*20)
    StudentIncome = vars[1]*MinimumWage+np.multiply(WorkExperience,Education+vars[2],Skills)

    Years = np.floor(randMat[:,6]*8)
    College = randMat[:,7]*10000
    InState = np.floor(randMat[:,8]*2)
    Tuition = np.multiply(Years,College,InState+1)

    Grades =  np.floor(randMat[:,9]*40)/10
    Scholarship = np.multiply(vars[3]*Grades,Tuition - vars[4]*ParentsIncome)
    Scholarship = Scholarship.clip(0)

    State = randMat[:,10]*15000
    Roomies = np.floor(randMat[:,11]*10)
    BlingFactor = np.floor(randMat[:,12]*9)
    LivingExpenses = np.divide(np.multiply(State,1+BlingFactor),1+Roomies)

    Materials = randMat[:,13]*5000

    StudentLoanAmount = ParentsPortion + StudentIncome + Scholarship - Tuition - LivingExpenses - Materials
    Loans = (StudentLoanAmount<0)
    Loans = Loans.astype(int)

    NumberOfSiblings
    StudentIncome

    data = pd.DataFrame.from_items([('Loans', Loans), ('ParentsIncome', ParentsIncome), 
                                    ('WorkExperience', WorkExperience), ('Education', Education), 
                                    ('MinimumWage', MinimumWage), ('Grades', Grades), 
                                    ('Tuition', Tuition), ('Years', Years), ('College', College), 
                                    ('InState', InState), ('BlingFactor', BlingFactor), 
                                    ('NumberOfSiblings', NumberOfSiblings), ('State', State), ('Materials', Materials)])

    return data

def histogramClass(traindata, testdata, maxgrid = 2):
    if (str(type(traindata)) == "<class 'pandas.core.frame.DataFrame'>"):
        nrow, ncol = np.shape(traindata)
        
        histogram = pd.DataFrame(np.zeros((nrow,ncol)))
        classifier = pd.DataFrame()
        bins = np.arange(0,1, 1/maxgrid)

        ##### Create grid lines
        for i in range(ncol):
            colmin = min(traindata.ix[:,i])
            colmax = max(traindata.ix[:,i])
            traindata.ix[:,i] = (traindata.ix[:,i]-colmin)/colmax

            if i>0:
                histogram.ix[:,i] = np.digitize(traindata.ix[:,i],bins)
            else:
                histogram.ix[:,i] = traindata.ix[:,i]
                
        ##### Normalize Test Data
        nrow2, ncol2 = np.shape(testdata)
        histogram2 = pd.DataFrame(np.zeros((nrow2,ncol2)))
        for i in range(ncol2):
            testdata.ix[:,i] = (testdata.ix[:,i]-colmin)/colmax
            if i>0:
                histogram2.ix[:,i] = np.digitize(testdata.ix[:,i],bins)
            else:
                histogram2.ix[:,i] = testdata.ix[:,i]

        ##### Store rows of histogram that predict "output = 1"
        vector = histogram.groupby(list(histogram.columns)[1:])[0].mean() >= .5
        a = vector.index.unique()
        classifier = vector[vector[a]==True].index.unique()

        count = 0
        results = np.zeros((nrow2,1))
        
        for i in range(nrow2):
            if tuple(histogram2.ix[i,1:]) in classifier:
                results[i] = 1
            if results[i] == histogram2.loc[i,0]:
                count = count + 1
        print results.mean(), count
        
        
        return histogram2, classifier
    else:
        print "Incorrect Data Type - Data should be in Pandas DataFrame."

In [127]:
data = studentLoanData(vars,100000)

h2, cl = histogramClass(data.ix[0:90000], data.ix[90001:])

ValueError: object too deep for desired array

In [123]:
cl

array([(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1),
       (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1),
       (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2), ...,
       (2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2),
       (2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1),
       (2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2)], dtype=object)

In [74]:
data.ix[90001:]

,Loans,ParentsIncome,WorkExperience,Education,MinimumWage,Grades,Tuition,Years,College,InState,BlingFactor,NumberOfSiblings,State,Materials
90001,1,26471.045218,6,0,6,2.6,6753.607905,2,3376.803952,1,5,4,13354.895478,4518.651371
90002,1,22564.548357,5,1,13,0.3,29103.246986,5,5820.649397,1,3,3,2385.937640,2338.883302
90003,1,70860.412382,7,1,15,0.5,27532.533957,3,9177.511319,0,7,3,12541.779846,4092.190032
90004,1,18293.665865,4,0,19,0.4,49862.456125,5,9972.491225,0,4,1,5409.246661,1409.219315
90005,0,2011.100457,7,1,19,0.1,2215.264340,1,2215.264340,0,1,4,7016.408717,1831.434504
90006,0,25310.683968,3,1,8,0.0,9906.596199,2,4953.298099,1,2,7,7954.201414,1135.445308
90007,0,5879.906383,7,0,11,1.9,30955.732946,4,7738.933236,1,0,5,7790.591432,4377.178715
90008,0,70684.330342,5,1,18,3.6,18002.902037,3,6000.967346,1,7,3,2996.730427,4270.109658
90009,0,95993.317356,5,1,5,0.3,621.154388,2,310.577194,0,4,0,1079.978854,2050.158431
90010,1,33319.398641,7,0,13,1.4,36314.316224,7,5187.759461,1,2,8,14808.523780,2748.825943
90011,0,41628.709419,5,1,19,3.3,10549.231667,7,1507.033095,1,5,2,6077.170591,1026.256968
90012,1,87903.443935,2,0,8,3.3,43870.499259,7,6267.214180,1,3,5,353.670222,3297.939430
90013,1,12989.259366,4,0,4,0.5,19593.900758,4,4898.475189,0,4,5,14411.737871,35.237155
90014,1,54613.069666,2,0,2,0.1,26875.277577,7,3839.325368,0,1,9,2449.981714,2997.241859
90015,1,46302.879198,3,0,4,1.2,47085.469786,6,7847.578298,0,3,6,1166.571484,1070.073814
90016,1,6433.585651,3,1,0,3.8,51411.284098,7,7344.469157,1,0,8,4792.086219,133.925121
90017,0,94434.505974,7,1,8,2.0,19730.259730,4,4932.564932,0,7,0,9492.818756,1730.307932
90018,0,26154.515656,5,1,16,2.8,33061.078077,6,5510.179680,0,2,8,5751.093274,1108.029036
90019,1,2573.990522,5,0,4,2.7,8033.906387,5,1606.781277,0,8,7,3659.863503,3061.441032
90020,1,57542.919196,5,1,15,0.8,34696.370101,7,4956.624300,0,5,2,10165.444611,614.223151
90021,0,28133.921182,2,1,9,1.4,2404.337651,1,2404.337651,1,3,7,5865.468792,1728.273474
90022,1,55343.879794,1,0,4,2.0,27097.390423,4,6774.347606,1,5,2,9982.311660,2826.306977
90023,0,5528.879170,1,1,17,1.6,6733.247125,1,6733.247125,1,3,0,7204.360388,3051.767006
90024,0,7422.140565,1,1,6,3.7,2500.073269,1,2500.073269,0,4,9,8194.625278,470.451647
90025,0,55751.677457,2,1,16,3.4,6556.827754,1,6556.827754,0,0,8,13244.702346,4065.663072
90026,1,32562.703774,7,1,7,1.7,25496.430863,3,8498.810288,0,8,9,10742.696154,3643.061083
90027,0,5010.631892,6,1,12,0.7,4382.632325,7,626.090332,1,2,8,14668.750816,57.245213
90028,1,19329.764614,7,0,9,1.5,23540.751347,3,7846.917116,0,1,4,10791.387897,2582.300216
90029,0,67952.305473,0,1,14,3.9,3872.788177,1,3872.788177,0,2,7,10577.272875,4176.482220
90030,1,18609.451732,0,1,5,1.9,33831.153720,4,8457.788430,0,6,6,12050.059897,881.552774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,0,92441.489641,5,1,7,2.2,2929.909537,2,1464.954769,0,3,4,9616.007656,2246.072312
99971,0,3963.949432,5,1,17,3.6,29678.917012,7,4239.845287,0,1,0,10885.128529,1624.529456
99972,1,30835.715393,2,1,2,0.2,8470.340242,1,8470.340242,1,0,8,12390.421803,215.604708
99973,0,76861.003607,6,0,14,3.5,29732.067713,3,9910.689238,0,1,2,5431.845987,3340.546161
99974,1,97905.158261,7,1,0,1.2,9921.507372,2,4960.753686,0,7,5,7778.580031,738.839457
99975,0,90270.821644,3,1,12,3.3,30971.831629,4,7742.957907,0,0,3,12920.868257,2659.646261
99976,1,68862.313046,7,1,3,2.9,11740.769073,7,1677.252725,0,8,7,10236.607049,1697.444928
99977,0,31552.904616,7,1,10,0.3,6737.454528,2,3368.727264,0,6,7,2572.874405,2618.982073
99978,0,33080.159186,1,1,13,3.6,20856.033245,6,3476.005541,1,0,1,1322.897122,3917.152726
99979,0,67883.970191,2,1,1,1.4,12182.039712,4,3045.509928,0,2,0,2073.353144,852.022638
99980,1,34850.111588,1,0,11,1.6,26175.231163,5,5235.046233,0,4,6,5814.368405,2189.208095
99981,0,68745.135265,2,0,12,2.7,22859.592730,5,4571.918546,0,6,9,1041.714118,4775.355842
99982,0,73959.375889,1,0,10,2.2,7580.399526,2,3790.199763,0,0,9,7147.883746,2141.356016
99983,1,66325.009299,6,1,5,3.3,23752.307550,5,4750.461510,0,8,8,5390.878170,1902.331466
99984,1,57276.795817,1,1,0,1.8,11622.711335,6,1937.118556,1,7,4,13039.786243,1495.971629
99985,1,47086.886246,4,0,5,3.5,25045.991259,7,3577.998751,0,2,6,5537.779772,4262.395798
99986,0,35335.385697,1,0,9,1.1,12542.265411,3,4180.755137,1,5,1,1163.779678,1068.434347
99987,0,85855.723231,4,0,19,1.3,7512.004819,5,1502.400964,1,3,2,337.426095,3301.315179
99988,1,90245.483255,2,1,15,0.7,47677.977858,5,9535.595572,1,3,3,1611.323653,2711.025665
99989,1,54280.324142,7,0,11,2.9,27879.454226,4,6969.863557,0,8,9,11300.403042,2869.252349
99990,0,28898.671997,0,0,13,3.3,1431.050247,1,1431.050247,0,1,4,7336.119414,3956.702045
99991,0,52827.956325,6,0,10,0.5,14000.526404,5,2800.105281,0,0,5,13600.826692,1648.949312
99992,1,61840.218717,6,1,14,0.1,4258.183873,3,1419.394624,1,5,5,5111.125411,1220.579194
99993,0,6437.155858,6,1,7,2.7,14123.547420,2,7061.773710,0,0,2,12613.718012,3968.969836
99994,1,18631.470902,7,1,14,0.0,28769.452627,5,5753.890525,0,1,8,8361.053008,3641.139192
99995,0,52520.151075,4,0,19,2.5,41751.273066,7,5964.467581,0,0,5,13304.519620,2609.806355
99996,0,17765.932429,7,0,16,3.0,26805.296948,5,5361.059390,1,2,4,11284.576511,958.664961
99997,1,45226.635805,2,0,1,2.8,2135.029895,5,427.005979,0,7,1,11032.725695,1799.308938
99998,0,98907.879857,2,0,14,3.6,9796.119520,1,9796.119520,1,4,8,13473.002065,3279.691968
99999,0,87846.793819,6,1,16,1.9,3470.039572,1,3470.039572,0,3,6,8984.929764,1134.673818

In [74]:
from __future__ import division
import numpy as np
import pandas as pd

vars = np.array([.15, 2000, 1, .25, .1])
N = 10

randMat = np.array(np.random.uniform(0,1,[N,20]))
ParentsIncome = randMat[:,0]*100000
NumberOfSiblings = np.floor(randMat[:,1]*10)
ParentsPortion = np.divide(ParentsIncome*vars[0],1+NumberOfSiblings)

WorkExperience = np.floor(randMat[:,2]*8)
Education = np.floor(randMat[:,3]*2)
Skills = np.floor(randMat[:,4]*4)
MinimumWage = np.floor(randMat[:,5]*20)
StudentIncome = vars[1]*MinimumWage+np.multiply(WorkExperience,Education+vars[2],Skills)

Years = np.floor(randMat[:,6]*8)
College = randMat[:,7]*10000
InState = np.floor(randMat[:,8]*2)
Tuition = np.multiply(Years,College,InState+1)

Grades =  np.floor(randMat[:,9]*40)/10
Scholarship = np.multiply(vars[3]*Grades,Tuition - vars[4]*ParentsIncome)
Scholarship = Scholarship.clip(0)

State = randMat[:,10]*15000
Roomies = np.floor(randMat[:,11]*10)
BlingFactor = np.floor(randMat[:,12]*9)
LivingExpenses = np.divide(np.multiply(State,1+BlingFactor),1+Roomies)

Materials = randMat[:,13]*5000

StudentLoanAmount = ParentsPortion + StudentIncome + Scholarship - Tuition - LivingExpenses - Materials
Loans = (StudentLoanAmount<0)
Loans = Loans.astype(int)

NumberOfSiblings
StudentIncome

data = pd.DataFrame.from_items([('Loans', Loans), ('ParentsIncome', ParentsIncome), 
                                ('WorkExperience', WorkExperience), ('Education', Education), 
                                ('MinimumWage', MinimumWage), ('Grades', Grades), 
                                ('Tuition', Tuition), ('Years', Years), ('College', College), 
                                ('InState', InState), ('BlingFactor', BlingFactor), 
                                ('NumberOfSiblings', NumberOfSiblings), ('State', State), ('Materials', Materials)])
#data = pd.DataFrame(Loans,index = len(Loans),columns ="Loans")

In [75]:
type(Loans)
print type(Loans[0])
np.bincount(Loans)
data

<type 'numpy.int32'>

,Loans,ParentsIncome,WorkExperience,Education,MinimumWage,Grades,Tuition,Years,College,InState,BlingFactor,NumberOfSiblings,State,Materials
0,1,38208.199852,2,1,1,0.1,16877.499035,4,4219.374759,1,1,5,12778.830086,2196.416108
1,1,67866.672853,4,1,15,2.1,62702.776870,7,8957.539553,1,8,7,11161.854828,778.192687
2,1,14110.977646,0,1,19,1.2,39019.156628,6,6503.192771,0,5,3,9522.070619,2933.859108
3,0,39665.853916,1,1,16,1.6,1534.283291,1,1534.283291,1,0,2,2228.855057,2284.473613
4,1,60216.881642,4,0,4,1.6,4833.306568,6,805.551095,0,8,5,10549.180337,2456.709407
5,0,60925.425113,5,0,17,0.1,6583.304852,3,2194.434951,0,2,2,3713.481982,1993.600715
6,1,44187.609046,6,0,17,2.5,30033.005398,6,5005.500900,0,7,8,2783.966271,3207.276577
7,0,58670.005143,5,1,12,0.0,0.000000,0,5478.782599,0,6,4,3740.078524,2419.427152
8,0,78509.781715,6,1,14,1.7,6485.864231,7,926.552033,0,5,8,407.674644,1982.476717
9,1,21383.762820,3,0,4,1.3,22250.108256,4,5562.527064,1,1,3,11687.596886,3227.362958

In [70]:
#Troubleshooting array changes for Grades
#
#Compare the troublesome first line to the corrected second:
#Scholarship = np.multiply(vars[3],Grades,Tuition - vars[4]*ParentsIncome)
#Scholarship = np.multiply(vars[3]*Grades,Tuition - vars[4]*ParentsIncome)
#The first line changes the Grades array to equal the Scholarship array.

Grades =  np.floor(randMat[:,9]*40)/10
print vars[3]
print Grades
var1 = vars[3]*Grades
print ""

print vars[4]
print ParentsIncome
print Tuition
var2 = Tuition - vars[4]*ParentsIncome
print ""

Scholarship = np.multiply(var1,var2)
print Scholarship
Scholarship = np.multiply(vars[3]*Grades,Tuition - vars[4]*ParentsIncome)
print Scholarship
print Grades

print np.corrcoef(Scholarship,Grades)
print np.corrcoef(Scholarship,Tuition)
print np.corrcoef(Scholarship,ParentsIncome)

0.25
[ 0.7  1.9  2.2  2.   2.   3.5  0.6  0.6  3.8  0.2]

0.1
[ 70291.34892352  24287.34786823  94510.44681296  79524.55773913
  34623.79290463  46053.82643722  42569.0633275    2050.34557395
  15798.91178017  19323.73437017]
[     0.              0.          40046.03682264    160.25678846
   8239.148146        0.          25474.08143788  26516.29533332
  36443.23653981  15154.13956315]

[ -1230.09860616  -1153.64902374  16827.24567774  -3896.09949273
   2388.38442777  -4029.70981326   3182.57626577   3946.68911639
  33120.1780937     661.08830631]
[ -1230.09860616  -1153.64902374  16827.24567774  -3896.09949273
   2388.38442777  -4029.70981326   3182.57626577   3946.68911639
  33120.1780937     661.08830631]
[ 0.7  1.9  2.2  2.   2.   3.5  0.6  0.6  3.8  0.2]
[[ 1.          0.46671938]
 [ 0.46671938  1.        ]]
[[ 1.          0.81152663]
 [ 0.81152663  1.        ]]
[[ 1.         -0.12634877]
 [-0.12634877  1.        ]]